@use 'global/shared';

div.remark {
  margin: 16px 0;
  padding: 0 16px;
  border-radius: 8px;
}

div.remark.info {
  border: 2px solid map-get(shared.$color-forest, '600');
}

div.remark.warning {
  border: 2px solid map-get(shared.$color-sun, '800');
}

div.remark.supplement {
  border: 2px solid map-get(shared.$color-sumi, '700');
}