div.remark {
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;
  display: flex;

  i {
    margin-right: 8px;
    font-size: calc(16px * 1.7); // $font-text-L's line-height
  }

  span {
    margin: 0;
  }
}

div.remark.info {
  background: #F1F8E9;

  i {
    color: #689F38;
  }
}

div.remark.warning {
  background: #FFFDE7;

  i {
    color: #FBC02D;
  }
}