@use 'shared';

p.remark {
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;
}

p.remark.info {
  border: 2px solid map-get(shared.$color-forest, '600');
}

p.remark.warning {
  border: 2px solid map-get(shared.$color-sun, '800');
}