@use 'global/shared';
@use 'partials/header';

main.container {
  h1 {
    margin: 0 0 16px;
    @include shared.font('header-XXL');
    line-height: 1;
  }

  h2 {
    @include shared.font('header-S');
    color: shared.$foreground-description;
  }
}