@use 'shared';
@use 'partials/header';
@use 'partials/link-menu'; // home-menu, site-menu
@use 'partials/hamburger';

div.container {
  div.name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    
    @include shared.break('tablet') {
      margin: 0 0 32px;
    }
  }

  div.home-menu {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    @include shared.break('tablet') {
      display: none;
    }
  }

  main.content {
    grid-column: 4 / 10;
    grid-row: 1 / 3;
  }

  div.site-menu {
    grid-column: 10 / 13;
    grid-row: 1 / 3;

    @include shared.break('tablet') {
      display: none;
    }
  }
}

main.content {
  h1 {
    margin: 0 0 16px;
    @include shared.font('header-XXL');
    line-height: 1;
  }

  h2 {
    @include shared.font('header-S');
    color: shared.$foreground-description;
  }
}