@use 'shared';
@use 'partials/header';
@use 'partials/link-menu'; // home-menu, site-menu

div.container {
  margin: 0 auto;
  padding: 64px 0;
  max-width: shared.$max-width;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 64px auto;
  gap: 32px;

  @include shared.break('tablet') {
    display: block;
    padding: 32px 0;
  }

  @include shared.break('mobile') {
    padding: 32px 0;
  }

  * {
    word-break: break-all;
  }

  div.name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    
    @include shared.break('tablet') {
      margin: 0 0 32px;
    }
  }

  div.home-menu {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    @include shared.break('tablet') {
      margin: 0 0 32px;
      border-bottom: 1px solid shared.$border-divider;
    }
  }

  main.content {
    grid-column: 4 / 10;
    grid-row: 1 / 3;
  }

  div.site-menu {
    grid-column: 10 / 13;
    grid-row: 1 / 3;

    @include shared.break('tablet') {
      margin: 32px 0 0;
      padding: 32px 0 0;
      border-top: 1px solid shared.$border-divider;
    }
  }
}

main.content {
  h1 {
    margin: 0 0 16px;
    font: shared.$header-XXL;
    line-height: 1;
  }

  h2 {
    font: shared.$header-S;
    color: shared.$foreground-description;
  }
}