@use 'global/shared';
@use 'partials/header';
@use 'partials/breadcrumbs';
@use 'utility/document';

main.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  nav.breadcrumbs {
    grid-column: span 12;
    grid-row: 1 / 2;
  }

  div.document {
    grid-column: span 9;
    grid-row: 2 / 3;

    @include shared.break('tablet') {
      grid-column: span 12;
    }
  }

  aside.table-of-contents {
    grid-column: span 3;
    grid-row: 2 / 3;

    @include shared.break('tablet') {
      display: none;
    }

    h2 {
      @include shared.font('label-L');
      margin: 4rem 0 2rem;
    }

    nav {
      @include shared.font('text-M');

      ul {
        list-style: none;
        padding-left: 0.5em;
        margin: 0 0 1em;

        li {
          margin: 0.5em 0;

          a:hover {
            text-decoration: underline;
          }
        }
      }

      &>ul {
        padding-left: 0;
      }
    }
  }
}