@use 'global/shared';
@use 'partials/header';
@use 'partials/breadcrumbs';

main.container {
  h1 {
    @include shared.spacing('h1');
    @include shared.font('header-L');

    @include shared.break('mobile') {
      @include shared.font('header-L-mobile');
    }
  }

  h2 {
    @include shared.spacing('h2');
    @include shared.font('header-S');

    @include shared.break('mobile') {
      @include shared.font('header-S-mobile');
    }
  }

  section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    a {
      display: block;
      grid-column: span 4;

      @include shared.break('tablet') {
        grid-column: span 6;
      }

      @include shared.break('mobile') {
        grid-column: span 12;
      }

      .thumbnail {
        display: none;
      }

      h3 {
        margin: 8px 0 0;
        @include shared.font('text-L');

        @include shared.break('mobile') {
          @include shared.font('text-L');
        }
      }

      &:hover {
        h3 {
          text-decoration: underline;
        }
      }
    }

    &.has-thumbnails {
      a {
        .thumbnail {
          aspect-ratio: 2 / 1;
          overflow: hidden;
          border-radius: 8px;
          border: 1px solid shared.$border-divider;
        }

        picture.thumbnail {
          display: block;

          img {
            display: block;
            height: auto;
            width: 100%;
          }
        }

        div.thumbnail {
          @include shared.font('text-L');
          color: #0004;
          background: shared.$background-tertiary;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}