@use 'shared';

main.content {
  h1 {
    margin: 0 0 24px;
    font: shared.$header-L;
    font-weight: bold;
  }

  time {
    color: shared.$foreground-description;
  }

  h2 {
    margin: 64px 0 24px;
    font: shared.$header-M;
  }

  h3 {
    margin: 40px 0 24px;
    font: shared.$header-S;
  }

  h4 {
    margin: 40px 0 16px;
    font: shared.$header-XS;
  }

  h5 {
    margin: 40px 0 24px;
    font: shared.$header-XXS;
  }

  p {
    margin: 1rem 0;
  }

  strong {
    font-weight: bold;
  }

  a {
    color: shared.$foreground-link;
    text-decoration: underline;
  }
  a:hover {
    color: shared.$foreground-body;
  }

  p, li {
    code {
      display: inline-block;
      font: shared.$text-M;
      font-family: monospace;
      margin: 0 2px;
      padding: 0 4px;
      background: shared.$background-secondary;
      position: relative;
      bottom: 1px;
      border-radius: 2px;
    }
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 8px;
  }

  ol, ul {
    padding: 0 0 0 32px;

    li {
      margin: 16px 0;
    }
  }

  table {
    border-collapse: collapse;

    td, th {
      padding: 8px 16px;
      border: 1px solid shared.$border-divider;
    }
  }

  blockquote {
    border-left: 4px solid shared.$border-divider;
    padding-left: 16px;
  }

  pre {
    margin: 16px 0;
    padding: 16px;
    border-radius: 8px;
    overflow-x: scroll;
    font: shared.$text-M;
  }
}