@use 'global/shared';
@use 'partials/header';
@use 'utility/document';

main.container {
  @include shared.break('desktop') {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    div.content {
      grid-column: span 9;

      &>:first-child {
        margin-top: 0;
      }

      li > a {
        font-feature-settings: 'calt', 'palt';
      }
    }

    aside.external-links {
      grid-column: span 3;

      &>:first-child {
        margin-top: 0;
      }
    }
  }
}