@use 'global/shared';
@use 'partials/header';
@use 'partials/link-menu';
@use 'partials/breadcrumbs';
@use 'partials/hamburger';

div.container {
  div.name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    @include shared.break('tablet') {
      margin: 0 0 32px;
    }
  }

  div.side-menu {
    grid-column: 10 / 13;
    grid-row: 1 / 3;

    @include shared.break('tablet') {
      display: none;
    }
  }

  main.pages {
    grid-column: 4 / 10;
    grid-row: 1 / 3;
  }
}

main.pages {
  h1 {
    @include shared.spacing('h1');
    @include shared.font('header-L');

    @include shared.break('mobile') {
      @include shared.font('header-L-mobile');
    }
  }

  a.page {
    display: block;
    margin: 0 0 32px;
    background: shared.$background-tertiary;
    border: 1px solid shared.$border-divider;
    border-radius: 8px;

    &:hover {
      background: shared.$background-secondary;
    }

    h3 {
      padding: 16px;
      @include shared.font('header-XXS');
    }
  }
}