@use 'shared';
@use 'partials/header';
@use 'partials/link-menu'; // home-menu, site-menu
@use 'partials/breadcrumbs';
@use 'partials/hamburger';

div.container {
  div.name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    @include shared.break('tablet') {
      margin: 0 0 32px;
    }
  }

  div.home-menu {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    @include shared.break('tablet') {
      display: none;
    }
  }

  div.site-menu {
    grid-column: 10 / 13;
    grid-row: 1 / 3;

    @include shared.break('tablet') {
      display: none;
    }
  }

  main.topics {
    grid-column: 4 / 10;
    grid-row: 1 / 3;
  }
}

main.topics {
  h1 {
    @include shared.spacing('h1');
    @include shared.font('header-L');

    @include shared.break('mobile') {
      @include shared.font('header-L-mobile');
    }
  }

  h2.year-header {
    @include shared.spacing('h3');
    @include shared.font('header-S');

    @include shared.break('mobile') {
      @include shared.font('header-S-mobile');
    }
  }

  h3.month-header {
    @include shared.spacing('h4');
    @include shared.font('header-XS');

    @include shared.break('mobile') {
      @include shared.font('header-XS-mobile');
    }
  }

  a.topic {
    display: block;
    margin: 0 0 32px;
    background: shared.$background-tertiary;
    border: 1px solid shared.$border-divider;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      background: shared.$background-secondary;
    }

    picture.thumbnail {
      display: block;
      aspect-ratio: 16 / 9;
      overflow: hidden;

      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }

    h4 {
      padding: 16px;
      @include shared.font('header-XXS');
    }

    p {
      padding: 0 16px 16px;
    }
  }
}