@use 'global/shared';
@use 'partials/header';
@use 'partials/link-menu'; // side-menu
@use 'partials/breadcrumbs';
@use 'partials/hamburger';
@use 'utility/document';

main.container {
  div.pages {
    padding: 8px 16px;
    border-radius: 8px;
    background: shared.$background-tertiary;

    ul {
      margin: 0;
    }
  }
}