$breakpoint-mobile: 520px;
$breakpoint-tablet: 960px;

$breakpoints: (
  'mobile': 520px,
  'tablet': 960px,
);

@mixin break($breakpoint) {
  @media all and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$max-width: 1024px;

$foreground-body:        #1A1A1C;
$foreground-description: #626264;
$foreground-link:        #0017C1;
$foreground-hover:       #000082;

$background-primary:     #FFFFFF;
$background-secondary:   #F1F1F4;
$background-tertiary:    #F8F8FB;

$border-divider:         #D8D8DB;

$font: 'Inter', sans-serif;

$header-XXL: 400 57px / 1.4 $font;
$header-XL: 400 45px / 1.4 $font;
$header-L: 400 36px / 1.4 $font;
$header-L-mobile: 500 32px / 1.5 $font;
$header-M: 400 32px / 1.5 $font;
$header-M-mobile: 500 28px / 1.5 $font;
$header-S: 400 28px / 1.5 $font;
$header-S-mobile: 500 24px / 1.5 $font;
$header-XS: 400 24px / 1.5 $font;
$header-XS-mobile: 500 20px / 1.5 $font;
$header-XXS: 400 20px / 1.5 $font;
$header-XXS-mobile: 500 16px / 1.7 $font;

$text-L: 400 16px / 1.7 $font;
$text-M: 400 14px / 1.7 $font;

$label-L: 500 14px / 1.5 $font;
$label-M: 500 12px / 1.5 $font;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {

  &,
  &.wf-loading {
    opacity: 0;
  }

  &.wf-active,
  &.wf-inactive {
    opacity: 1;
  }
}

body {
  padding: 0 40px;
  color: $foreground-body;
  font: $text-L;
  letter-spacing: 0.04em;

  @include break('tablet') {
    display: block;
    padding: 0 32px;
  }

  @include break('mobile') {
    padding: 0 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}