$breakpoints: (
  'mobile': 520px,
  'tablet': 960px,
);

@mixin break($breakpoint) {
  @media all and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$max-width: 1024px;

$foreground-body:        #1A1A1C;
$foreground-description: #626264;
$foreground-link:        #0017C1;
$foreground-hover:       #000082;

$background-primary:     #FFFFFF;
$background-secondary:   #F1F1F4;
$background-tertiary:    #F8F8FB;

$border-divider:         #D8D8DB;

$font-weights: (
  'header-XXL':        400,
  'header-XL':         400,
  'header-L':          400,
  'header-L-mobile':   500,
  'header-M':          400,
  'header-M-mobile':   500,
  'header-S':          400,
  'header-S-mobile':   500,
  'header-XS':         400,
  'header-XS-mobile':  500,
  'header-XXS':        400,
  'header-XXS-mobile': 500,

  'text-L':            400,
  'text-M':            400,

  'label-L':           500,
  'label-M':           500,
);

$font-sizes: (
  'header-XXL':        57px,
  'header-XL':         45px,
  'header-L':          36px,
  'header-L-mobile':   32px,
  'header-M':          32px,
  'header-M-mobile':   28px,
  'header-S':          28px,
  'header-S-mobile':   24px,
  'header-XS':         24px,
  'header-XS-mobile':  20px,
  'header-XXS':        20px,
  'header-XXS-mobile': 16px,

  'text-L':            16px,
  'text-M':            14px,

  'label-L':           14px,
  'label-M':           12px,
);

$line-heights: (
  'header-XXL':        1.4,
  'header-XL':         1.4,
  'header-L':          1.4,
  'header-L-mobile':   1.5,
  'header-M':          1.5,
  'header-M-mobile':   1.5,
  'header-S':          1.5,
  'header-S-mobile':   1.5,
  'header-XS':         1.5,
  'header-XS-mobile':  1.5,
  'header-XXS':        1.5,
  'header-XXS-mobile': 1.7,

  'text-L':            1.7,
  'text-M':            1.7,

  'label-L':           1.5,
  'label-M':           1.5,
);

@mixin font($size) {
  font-feature-settings: 'palt';
  font-weight: map-get($font-weights, $size);
  font-size: map-get($font-sizes, $size);
  line-height: map-get($line-heights, $size);
  font-family: 'Inter', sans-serif;
}

$spacing: (
  'h1': 64px 0 24px,
  'h2': 64px 0 24px,
  'h3': 40px 0 24px,
  'h4': 40px 0 16px,
  'h5': 40px 0 16px,
  'h6': 24px 0 16px,
);

@mixin spacing($size) {
  margin: map-get($spacing, $size);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  letter-spacing: 0.04em;

  &,
  &.wf-loading {
    opacity: 0;
  }

  &.wf-active,
  &.wf-inactive {
    opacity: 1;
  }
}

body {
  padding: 0 40px;
  color: $foreground-body;
  @include font('text-L');

  @include break('tablet') {
    display: block;
    padding: 0 32px;
  }

  @include break('mobile') {
    padding: 0 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}