$breakpoint-mobile: 520px;
$breakpoint-tablet: 960px;

$breakpoints: (
  'mobile': 520px,
  'tablet': 960px,
);

@mixin break($breakpoint) {
  @media all and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$max-width: 1024px;

$foreground-body: #000C;
$foreground-description: #000A;
$foreground-link: #0077C8;

$background-primary: #FFF;
$background-secondary: #00000008;

$border-divider: #0001;

$font: 'Inter', 'Noto Sans JP', sans-serif;

$header-L: 400 36px / 1.4 $font;
$header-L-mobile: 500 32px / 1.5 $font;
$header-M: 400 32px / 1.5 $font;
$header-M-mobile: 500 28px / 1.5 $font;
$header-S: 400 28px / 1.5 $font;
$header-S-mobile: 500 24px / 1.5 $font;
$header-XS: 400 24px / 1.5 $font;
$header-XS-mobile: 500 20px / 1.5 $font;
$header-XXS: 400 20px / 1.5 $font;
$header-XXS-mobile: 500 16px / 1.7 $font;

$text-L: 16px / 1.7 $font;
$text-M: 14px / 1.7 $font;

$label-L: 500 14px / 1.5 $font;
$label-M: 500 12px / 1.5 $font;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 40px;
  color: $foreground-body;
  font: $text-L;

  @include break('tablet') {
    display: block;
    padding: 0 32px;
  }

  @include break('mobile') {
    padding: 0 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}