@use 'global/shared';
@use 'partials/header';
@use 'partials/breadcrumbs';
@use 'partials/table-of-contents';
@use 'utility/document';

main.container {
  aside.table-of-contents {
    display: none;
  }

  @include shared.break('desktop') {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 64px 32px;

    nav.breadcrumbs {
      grid-column: span 12;
      grid-row: 1 / 2;
    }

    div.content {
      grid-column: span 9;
      grid-row: 2 / 3;

      &>:first-child {
        margin-top: 0;
      }
    }

    aside.table-of-contents {
      display: block;
      grid-column: 10 / 13;
      grid-row: 2 / 3;
      height: calc(100vh - 64px);
      position: sticky;
      top: 32px;

      &>:first-child {
        margin-top: 0;
      }
    }
  }
}