{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/blog.scss" | resources.ToCSS (dict "transpiler" "dartsass" "outputStyle" "compressed") | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="name">
      {{ partial "header.html" . }}
    </div>
    {{ partial "hamburger.html" . }}
    <div class="side-menu">
      {{ partial "side-menu.html" . }}
    </div>
    <main class="content">
      {{ partial "breadcrumbs.html" . }}
      <div class="document">
        <h1>{{ .Title }}</h1>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年 1月 2日" }}</time>
        {{ .Content }}  
      </div>
    </main>
  </div>
{{ end }}