{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/single.scss" | resources.ToCSS (dict "transpiler" "dartsass" "outputStyle" "compressed") | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="container">
    {{ partial "breadcrumbs.html" . }}
    <div class="document">
      <h1>{{ .Title }}</h1>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年 1月 2日" }}</time>
      {{ .Content }}  
    </div>
    {{ partial "table-of-contents.html" . }}
  </main>
{{ end }}