@use 'shared/shared';

.container {
  display: grid;
  max-width: shared.$max-width;
  margin: 0 auto;
  padding: 64px 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 64px auto;
  gap: 32px;

  * {
    word-break: break-all;
  }

  .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .home-menu {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .topics {
    grid-column: 4 / 10;
    grid-row: 1 / 3;
  }

  .site-menu {
    grid-column: 10 / 13;
    grid-row: 1 / 3;
  }
}