.link-menu {
  margin: 0 0 40px;
}

.link-menu > ul {
  list-style: none;
}

.link-menu > p {
  margin: 0 0 8px;
  font: var(--label-M);
  color: #00000080; /* TODO: define color scheme */
}

.link-menu > ul > li {
  margin: 0 0 8px;
  font: var(--text-M);
  font-weight: bold;
}

.link-menu > ul > li > a:hover {
  text-decoration: underline;
}