<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if not .IsHome -}} {{- .Page.Title }} - {{ end -}} {{- .Site.Title }}</title>
  {{ if .IsHome }}
    <meta name="description" content="覚道健太郎のホームページです！情報科学と数学を勉強中で、主にプログラミングについて書いています！">
  {{ else }}
    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
  {{ end }}
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.svg" type="image/svg+xml">
  {{ block "extraHeads" . }}{{ end }}
</head>
<body>
  {{ block "main" . }}{{ end }}
  <script>
    // https://github.com/typekit/webfontloader
    WebFontConfig = {
      google: {
        families: ['Inter:400,500,700', 'Noto Sans JP:400,500,700']
      }
    };
    (function (d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
</body>
</html>