{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/list.scss" | resources.ToCSS (dict "transpiler" "dartsass" "outputStyle" "compressed") | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="name">
      {{ partial "header.html" . }}
    </div>
    {{ partial "hamburger.html" . }}
    <div class="home-menu">
      {{ partial "home-menu.html" . }}
    </div>
    <div class="site-menu">
      {{ partial "site-menu.html" . }}
    </div>
    <main class="pages">
      {{ partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      {{ range .Pages }}
        <a href="{{ .Permalink }}" class="page">
          <h3>{{ .Title }}</h3>
        </a>
      {{ end }}
    </main>
  </div>
{{ end }}