{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/single.scss" | resources.ToCSS (dict "transpiler" "dartsass") }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="name">
      {{ partial "header.html" . }}
    </div>
    <main class="content">
      <h1>{{ .Title }}</h1>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02 15:04" }}</time>
      {{ .Content }}
    </main>
    <div class="site-menu">
      {{ partial "site-menu.html" . }}
    </div>
  </div>
{{ end }}