{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/single.scss" | resources.ToCSS (dict "transpiler" "dartsass" "outputStyle" "compressed") | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="container">
    {{ partial "breadcrumbs.html" . }}
    <div class="document">
      <h1>{{ .Title }}</h1>
      <details class="table-of-contents">
        <summary>Table of Contents</summary>
        {{ .TableOfContents }}
      </details>
      {{ .Content }}  
    </div>
    {{ partial "table-of-contents.html" . }}
  </main>
{{ end }}