@use './../_shared/shared';

.content {
  font: shared.$text-L;

  h1 {
    margin: 0 0 24px;
    font: shared.$header-L;
  }

  h2 {
    margin: 64px 0 24px;
    font: shared.$header-M;
  }

  h3 {
    margin: 40px 0 24px;
    font: shared.$header-S;
  }

  p {
    margin: 16px 0px;
  }

  p, li {
    code {
      display: inline-block;
      font: shared.$text-M;
      font-family: monospace;
      margin: 0 2px;
      padding: 0 4px;
      background: #00000008;
      position: relative;
      bottom: 1px;
      border-radius: 2px;
    }
  }

  pre > pre {
    border-radius: 8px;
  }

  a {
    color: shared.$color-primary;
    text-decoration: underline;
  }

  a:hover {
    color: shared.$foreground;
  }

  ol, ul {
    padding: 0 0 0 32px;

    li {
      margin: 16px 0;
    }
  }

  table {
    border-collapse: collapse;

    td, th {
      padding: 8px 16px;
      border: 1px solid #0003;
    }
  }

  img {
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }

  blockquote {
    border-left: 4px solid #0003;
    padding-left: 16px;
  }

  p.warn {
    padding: 1rem;
    background: #fff8e1;
  }
}