<nav class="link-menu">
  <h5>Projects</h5>
  <ul>
    <li>
      <a href="https://github.com/kakudo415/0cc" target="_blank" rel="noopener">0cc</a>
      <p>C Compiler</p>
    </li>
    <li>
      <a href="https://github.com/kakudo415/sura" target="_blank" rel="noopener">Sura</a>
      <p>CUI Text Editor written in Rust</p>
    </li>
  </ul>
  <h5>Social accounts</h5>
  <ul class="sub">
    <li>
      <a href="https://github.com/kakudo415" target="_blank" rel="noopener">GitHub</a>
    </li>
    <li>
      <a href="https://twitter.com/kakudo415" target="_blank" rel="noopener">Twitter</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@kakudo415" target="_blank" rel="noopener">YouTube</a>
    </li>
  </ul>
</nav>