<nav class="link-menu">
  <ul>
    <li>
      <a href="https://github.com/kakudo415" target="_blank" rel="noopener">
        <i class="ti ti-brand-github"></i>
        <span>GitHub</span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/kakudo415" target="_blank" rel="noopener">
        <i class="ti ti-brand-twitter"></i>
        <span>Twitter</span>
      </a>
    </li>
    <li>
      <a href="https://bsky.app/profile/kakudo.org" target="_blank" rel="noopener">
        <i class="ti ti-square-rounded"></i>
        <span>Bluesky</span>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/@kakudo415" target="_blank" rel="noopener">
        <i class="ti ti-brand-youtube"></i>
        <span>YouTube</span>
      </a>
    </li>
  </ul>
</nav>