<nav class="link-menu">
  <ul>
    <li>
      <a href="{{ .Site.BaseURL }}about/">About me</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}resume/">Resume</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="{{ .Site.BaseURL }}blog/">Blog</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}notes/">Notes</a>
    </li>
  </ul>
  <h5>Social accounts</h5>
  <ul>
    <li>
      <a href="https://github.com/kakudo415" target="_blank" rel="noopener">GitHub</a>
    </li>
    <li>
      <a href="https://twitter.com/kakudo415" target="_blank" rel="noopener">Twitter</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@kakudo415" target="_blank" rel="noopener">YouTube</a>
    </li>
  </ul>
</nav>