{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/404.scss" | resources.ToCSS (dict "transpiler" "dartsass" "outputStyle" "compressed") | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="name">
      {{ partial "header.html" . }}
    </div>
    {{ partial "hamburger.html" . }}
    <div class="home-menu">
      {{ partial "home-menu.html" . }}
    </div>
    <div class="site-menu">
      {{ partial "site-menu.html" . }}
    </div>
    <main class="content">
      <h1>404</h1>
      <h2>Not Found</h2>
    </main>
  </div>
{{ end }}