{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/index.scss" | resources.ToCSS (dict "transpiler" "dartsass" "outputStyle" "compressed") | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="container">
    <div class="document content">
      {{ .Content }}
      {{ range .Sections.ByWeight }}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
        {{ $latest := first 5 .RegularPagesRecursive }}
        <ul>
          {{ range $latest }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <br><span>{{ .Date.Format "2006年 1月 2日" }}</span>
            </li>
          {{ end }}
        </ul>
        <a href="{{ .Permalink }}">-> Read more</a>
      {{ end }}
    </div>
    {{ partial "external-links.html" . }}
  </main>
{{ end }}