{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/index.scss" | resources.ToCSS (dict "transpiler" "dartsass") }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="name">
      {{ partial "header.html" . }}
    </div>
    <div class="home-menu">
      {{ partial "home-menu.html" . }}
    </div>
    <main class="topics">
      <h2>投稿一覧</h2>
      {{ range .Site.RegularPages }}
        {{ if not .Params.independent }}
          <a href="{{ .Permalink }}" class="topic">
            <h3>{{ .Title }}</h3>
            {{ with .Params.Description }}
              <p>{{ . }}</p>
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
    </main>
    <div class="site-menu">
      {{ partial "site-menu.html" . }}
    </div>
  </div>
{{ end }}