{{ define "extraHeads" }}
  {{ $css := resources.Get "sass/index.scss" | resources.ToCSS (dict "transpiler" "dartsass" "outputStyle" "compressed") | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="container">
    <div class="document">
      {{ .Content }}
    </div>
    {{ range .Sections.ByWeight }}
      <h2>{{ .Title }}</h2>
      <section class="{{ with .Params.style }}{{ . }}{{ end }}">
        {{ $latest := first 8 .RegularPagesRecursive }}
        {{ range $latest }}
          <a href="{{ .Permalink }}">
            {{ if .Params.thumbnail }}
              {{ $sourceImage := .Resources.GetMatch .Params.thumbnail }}
              {{ $webpImage := $sourceImage.Resize "744x webp" }}
              {{ $resizedImage := $sourceImage.Resize "744x" }}
              <picture class="thumbnail">
                <source srcset="{{ $webpImage.RelPermalink }}" type="image/webp">
                <img src="{{ $resizedImage.RelPermalink }}" width="{{ $resizedImage.Width }}" height="{{ $resizedImage.Height }}" alt="Thumbnail">
              </picture>
            {{ else }}
              <div class="thumbnail">
                {{ .Site.Title }}
              </div>
            {{ end }}
            <h3>{{ .Title }}</h3>
          </a>
        {{ end }}
      </section>
      <a href="{{ .Permalink }}" class="read-more">Read more</a>
    {{ end }}
  </main>
{{ end }}