@use 'global/shared';

main nav.breadcrumbs {
  ol {
    padding: 0;
    display: inline;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin: 0;
      @include shared.font('text-M');
      display: inline;

      &::after {
        content: '>';
        margin: 0 0.5rem;
      }

      &:last-child::after {
        display: none;
      }

      a {
        color: shared.$foreground-link;
        text-decoration: underline;
      }

      a:hover {
        color: shared.$foreground-hover;
      }
    }
  }
}