@use 'global/shared';

main nav.breadcrumbs {
  ol {
    padding: 0;
    display: inline;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin: 0;
      @include shared.font('text-M');
      display: inline;

      a {
        color: shared.$foreground-link;
        text-decoration: underline;
      }

      a:hover {
        color: shared.$foreground-hover;
      }

      span {
        margin: 0 4px;
      }
    }
  }
}