@use 'shared';

main nav.breadcrumbs {
  ol {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin: 0;
      font: shared.$text-M;
      display: flex;

      a {
        color: shared.$foreground-link;
        text-decoration: underline;
      }

      a:hover {
        color: shared.$foreground-hover;
      }

      span {
        margin: 0 8px;
      }
    }
  }
}