@use 'global/shared';

header.site-header {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    margin: 0 auto;
    max-width: shared.$max-width;

    @include shared.break('tablet') {
      height: 6rem;
    }
  }

  h1 {
    @include shared.font('header-XXS-mobile');
    line-height: 2rem;

    @include shared.break('tablet') {
      @include shared.font('header-XXS');
      font-weight: 500;
    }
  }

  nav.header-menu {
    display: flex;
    overflow-x: auto;

    a {
      flex-shrink: 0;
      display: block;
      margin-left: 0.5rem;
      padding: 0 0.5rem;
      line-height: 2rem;
      font-weight: normal;

      @include shared.break('tablet') {
        padding: 0 1rem;
        font-weight: 500;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}