@use 'global/shared';

header.site-header {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    margin: 0 auto;
    max-width: 1440px;
  }

  h1 {
    @include shared.font('header-XS');
    line-height: 2rem;
  }

  nav.header-menu {
    display: flex;
    overflow-y: auto;

    a {
      display: block;
      margin-left: 0.5rem;
      padding: 0 1rem;
      line-height: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include shared.break('mobile') {
    div {
      padding: 1rem 0;
    }

    h1 {
      @include shared.font('header-XS-mobile');
    }
  }
}