@use 'global/shared';

header.site-header {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    margin: 0 auto;
    max-width: 1440px;
  }

  h1 {
    @include shared.font('header-XS');
    line-height: 2rem;
  }

  nav.header-menu {
    display: flex;
    overflow-x: auto;

    a {
      flex-shrink: 0;
      display: block;
      margin-left: 0.5rem;
      padding: 0 1rem;
      line-height: 2rem;
      font-weight: 500;

      @include shared.break('mobile') {
        padding: 0 0.5rem;
        font-weight: normal;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include shared.break('mobile') {
    div {
      padding: 1rem 0;
      height: 4rem;
    }

    h1 {
      @include shared.font('header-XS-mobile');
    }
  }
}