@use 'shared';

nav.link-menu {
  h5 {
    margin: 0 0 1em;
    @include shared.font('label-L');
    color: shared.$foreground-description;
  }

  ul {
    margin: 0 0 32px;
    list-style: none;

    li {
      margin: 0 0 0.5rem;
      font-size: 0; // remove inline-block spacing

      a {
        display: inline-block;
        @include shared.font('text-L');
        font-weight: 500;
        line-height: 24px;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}