@use 'shared';

nav.link-menu {
  p {
    margin: 0 0 0.5rem;
    color: shared.$foreground-description;
    font: shared.$label-M;
  }

  ul {
    margin: 0 0 32px;
    list-style: none;

    li {
      margin: 0 0 0.5rem;
      font: shared.$text-M;

      a {
        min-height: 24px;
        display: inline-flex;
        align-items: center;

        i {
          margin: 0 4px 0 0;
        }

        span {
          font-weight: bold;
          line-height: 1;
        }
      }
      a:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}