@use 'global/shared';

aside.table-of-contents {
  grid-column: 10 / 13;
  grid-row: 2 / 3;

  height: calc(100vh - 64px);
  overflow-y: auto;

  position: sticky;
  margin: 4rem 0 0;
  top: 2rem;

  @include shared.break('tablet') {
    display: none;
  }

  nav {
    @include shared.font('text-M');

    ul {
      list-style: none;
      padding-left: 0.5em;
      margin: 0 0 1em;

      li {
        margin: 0.5em 0;

        a:hover {
          text-decoration: underline;
        }
      }
    }

    &>ul {
      padding-left: 0;
      font-weight: bold;

      ul {
        font-weight: normal;
      }
    }
  }
}