@use 'global/shared';

aside.table-of-contents {
  overflow-y: auto;

  nav {
    @include shared.font('text-M');

    ul {
      list-style: none;

      li {
        margin: 0.5em 0;

        a:hover {
          text-decoration: underline;
        }
      }
    }

    &>ul {
      font-weight: bold;

      ul {
        font-weight: normal;
      }
    }
  }
}