@use 'global/shared';

aside.table-of-contents {
  grid-column: 10 / 13;
  grid-row: 2 / 3;
  
  height: 100vh;
  overflow-y: auto;

  position: sticky;
  top: 0;

  @include shared.break('tablet') {
    display: none;
  }

  h2 {
    @include shared.font('label-L');
    margin: 4rem 0 2rem;
  }

  nav {
    @include shared.font('text-M');

    ul {
      list-style: none;
      padding-left: 1em;
      margin: 0 0 1em;

      li {
        margin: 0.5em 0;

        a:hover {
          text-decoration: underline;
        }
      }
    }

    &>ul {
      padding-left: 0;
    }
  }
}

details.table-of-contents {
  display: none;
  margin: 2rem 0;
  padding: 1rem;
  background: shared.$background-tertiary;
  border-radius: 0.5rem;

  @include shared.break('tablet') {
    display: block;
  }

  summary {
    @include shared.font('label-L');

    // ::marker spacer
    &::before {
      content: '';
      margin-right: 0.5em;
    }
  }

  nav {
    @include shared.font('text-M');

    ul {
      list-style: none;
      padding-left: 0.5em;
      margin: 1rem 0 0;

      li {
        margin: 0.5em 0;
        padding: 0;

        &::before {
          display: none;
        }

        a {
          color: shared.$foreground-body;
        }
      }
    }

    &>ul {
      padding-left: 0;
    }
  }
}